<main class="calculadora-juros-compostos">
  <app-page-title [title]="title" [description]="description"></app-page-title>

  <form class="card" [formGroup]="form" (submit)="submit()">

    <div class="card-item inicial">
      <label for="valorInicial">Valor inicial</label>
      <div class="input-group">
        <span>R$</span>
        <input type="number" id="valorInicial" formControlName="valorInicial" placeholder="00,00">
      </div>
    </div>

    <div class="card-item aportes">
      <label for="valorMensal">Valor mensal</label>
      <div class="input-group">
        <span>R$</span>
        <input type="number" id="valorMensal" formControlName="valorMensal" placeholder="00,00">
      </div>
    </div>

    <div class="card-item juros">
      <label for="taxaJuros">Taxa de juros</label>
      <div class="input-group">
        <span>%</span>
        <input type="number" id="taxaJuros" formControlName="taxaJuros" placeholder="00,00">
        <select id="tipoTaxaJuros" formControlName="tipoTaxaJuros">
          <option *ngFor="let tipo of tiposTaxaJuros"  [value]="tipo.key" >
            {{ tipo.value }}
          </option>
        </select>
      </div>
      <app-form-field-error [form-control]="form.get('taxaJuros')" field-name="Taxa de Juros">
      </app-form-field-error>
    </div>

    <div class="card-item periodos">
      <label for="periodos">Período</label>
      <div class="input-group">
        <input type="number" id="periodos" formControlName="periodos" placeholder="00,00">
        <select id="tipoPeriodo" formControlName="tipoPeriodo">
          <option *ngFor="let tipo of tiposPeriodo" [value]="tipo.key">
            {{ tipo.value }}
          </option>
        </select>
      </div>
      <app-form-field-error [form-control]="form.get('periodos')" field-name="Periodos">
      </app-form-field-error>
    </div>

    <input type="submit" [disabled]="this.form.invalid" value="Calcular" class="calcularBtn btn">

    <input type="reset" value="Limpar" class="limparBtn link">
  </form>

  <section class="resultados" *ngIf="isSubmitted">
    <h3>Resultados</h3>
    <div class="cards-results">
      <div class="card-valor-total card-result">
        <span>Valor total final</span>
        <span class="valor-total result">
          {{jurosComposto.montanteFinal | currency:'BRL':'symbol':'1.2-2'}}
        </span>
      </div>
      <div class="card-valor-investido card-result">
        <span>Valor total investido</span>
        <span class="valor-investido result">
          {{jurosComposto.valorInvestido | currency:'BRL':'symbol':'1.2-2'}}
        </span>
      </div>
      <div class="card-total-juros card-result">
        <span>Total em juros</span>
        <span class="total-juros result">
          {{jurosComposto.jurosAcumulados | currency:'BRL':'symbol':'1.2-2' }}
        </span>
      </div>
    </div>
  </section>
</main>