main.calculadora-juros-compostos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  form.card {
    width: 100%;
    margin: 1rem 0;
    padding: 1.5rem 1rem;
    background-color: #f8f9fa;
    border: solid 1px #cccccc;
    border-radius: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'inicial aportes'
      'juros periodos'
      'calcularBtn limparBtn';

    .card-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
        width: 100%;
      }

      .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;


        span {
          display: flex;
          align-items: center;
          padding: 0.375rem 0.75rem;
          margin-bottom: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
          background-color: #e9ecef;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        input {
          position: relative;
          flex: 1 1 0%;
          min-width: 0;
          margin-bottom: 0;
          display: block;
          width: 100%;
          // height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        select {
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 1.75rem 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #e9ecef;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          vertical-align: middle;
        }
      }
    }

    .inicial {
      grid-area: inicial;
    }

    .aportes {
      grid-area: aportes;
    }

    .juros {
      grid-area: juros;
    }

    .periodos {
      grid-area: periodos;
    }

    .calcularBtn {
      grid-area: calcularBtn;
    }

    .limparBtn {
      grid-area: limparBtn;
    }

    .btn {
      color: #fff;
      background-color: #0077bd;
      border: 1px solid #0077bd;
      border-radius: 50rem;
      box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(0, 0, 0, .075);
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      width: 30%;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .btn:hover {
      color: #fff;
      background-color: #00639c;
      border-color: #00639c;
    }

    .btn[disabled] {
      color: #fff;
      background-color: #bbb;
      border-color: #aaa;
    }

    .link {
      cursor: pointer;
      font-weight: 400;
      color: #0077bd;
      text-decoration: none;
      font-size: 1.2rem;
      line-height: 1.5;
      border: none;
      background-color: transparent;
    }

    .link:hover {
      color: #00639c;
    }
  }

  section.resultados {
    width: 100%;
    margin: 1rem 0;
    padding: 1.5rem 1rem;
    background-color: #f8f9fa;
    border: solid 1px #cccccc;
    border-radius: 10px;

    h3 {
      color: #0077bd;
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .cards-results {
      display: grid;
      grid-template-rows: '30% 30% 30%';
      grid-gap: 20px;
      grid-template-areas:
        'total investido juros';

      .card-result {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: #6c757d;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        align-items: center;

        .result {
          font-weight: 700;
          font-size: 1.5rem;
        }
      }

      .card-valor-total {
        grid-area: total;
      }

      .card-valor-investido {
        grid-area: investido;
      }

      .card-total-juros {
        grid-area: juros;
      }
    }

    .investment-table {
      font-family: "Roboto Condensed", sans-serif;
      border: 1px solid #dee2e6;
      background-color: #fff;
      border-radius: 0.25rem;
      border-spacing: 1.5rem;
      table-layout: fixed;
      text-align: center;
      margin: 2rem auto;
      color: #6c757d;
      padding: 1rem;
    }
  }
}

.valor-total {
  color: #6c757d;
}

.valor-investido {
  color: #0077bd;
}

.total-juros {
  color: #28a745;
}

/* Mobile Version */
@media (max-width: 850px) {
  main.calculadora-juros-compostos {

    form.card {
      display: flex;
      flex-direction: column;

      .btn,
      .link {
        width: 100%;
      }
    }

    section.resultados {

      h3 {
        text-align: center;
      }

      .cards-results {
        display: flex;
        flex-direction: column;
      }
    }
  }
}