main.home {

  .cards {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-rows: '30% 30% 30%';
    grid-template-columns: '30% 30% 30%';
    grid-gap: 3rem;
    grid-template-areas: 'card1 card2 card3';

    // .card {      
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   margin-bottom: 1rem;
    //   position: relative;

    //   height: 100%;
    //   width: 100%;
    //   padding: 1rem;
    //   background-color: #f8f9fa;
    //   border: 1px solid rgba(0, 0, 0, .1);
    //   border-radius: 0.25rem;
    //   box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
    //   overflow: hidden;

    //   img {
    //     width: 125px;
    //     height: 125px;
    //   }

    //   .card-title {
    //     margin-top: 1rem;
    //     font-size: 1.2rem;
    //     font-weight: 500;
    //     line-height: 1.2;
    //     color: #0077bd;
    //     background-color: transparent;
    //     text-align: center;
    //   }
    // }
  }
}

/* Mobile Version */
@media (max-width: 760px) {
  main.home {

    .cards {
      display: flex;
      flex-direction: column;
    }
  }
}