<main class="home">
  <app-page-title [title]="title" [description]="description"></app-page-title>

  <div class="cards">

    <app-card
      card-image="../../../../assets/images/juros-compostos.png"
      card-title="Calculadora de Juros Compostos"
      url="juros-compostos" 
    />
    
    <app-card
      card-image="../../../../assets/images/reserva-de-emergencia.png"
      card-title="Calculadora de Reserva de Emergência" 
      url="reserva-de-emergencia"
      />

    <app-card
      card-image="../../../../assets/images/preco-teto-medio.png"
      card-title="Calculadora de Preço Teto Médio"
      url="preco-teto-medio"
    />

    <app-card
      card-image="../../../../assets/images/preco-teto-atual.png"
      card-title="Calculadora de Preço Teto (Método Bazin)" 
      url="preco-teto" [disabled]="true"
    />

    <app-card
      card-image="../../../../assets/images/preco-teto-projetivo.png"
      card-title="Calculadora de Preço Teto Projetivo" 
      url="preco-teto-projetivo" [disabled]="true"
    />
    
  </div>
</main>