<main class="home">
  <app-page-title [title]="title" [description]="description"></app-page-title>

  <div class="cards">

    <app-card (click)="navigate('juros-compostos')"
      card-image="../../../../assets/images/juros-compostos.png"
      card-title="Calculadora de Juros Compostos">
    </app-card>
    <app-card (click)="navigate('reserva-de-emergencia')"
      card-image="../../../../assets/images/reserva-de-emergencia.png"
      card-title="Calculadora de Reserva de Emergência">
    </app-card>
    <app-card (click)="navigate('preco-teto')"
      card-image="../../../../assets/images/preco-teto.png"
      card-title="Calculadora de Preço Teto (Método Barsi)">
    </app-card>
    
  </div>
</main>